{% extends 'base.html.twig' %}

{% block title %}Depots index{% endblock %}

{% block body %}
</head>
<script src="https://kit.fontawesome.com/12902057c2.js" crossorigin="anonymous"></script></head>
{% set ID = id %}
    <h1>Depots index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Likes</th>
                <th><a href="{{ path('depots_new', {'id':ID}) }}">add depot</a></th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for depot in depots %}
            <tr>
                <td>{{ depot.id }}</td>
                <td>{{ depot.title }}</td>
                <td>{{ depot.NbLikes }}</td>
                <td>
                    <a href="{{ path('contenu_depot_index', {'id': depot.id}) }}">show</a>
                    <a href="{{ path('depots_edit', {'id': depot.id,'id1':ID}) }}">edit</a>
                    <a href="{{ path('depots_delete',{'id1':ID,'id2': depot.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
