{% extends 'base.html.twig' %}

{% block title %}ContenuDepot index{% endblock %}

{% block body %}
{% set ID = id %}
    <h1>ContenuDepot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>BrochureFilename</th>
                <th><th><a href="{{ path('contenu_depot_new', {'id':ID}) }}">add contenu</a></th></th>
            </tr>
        </thead>
        <tbody>
        {% for contenu_depot in contenu_depots %}
            <tr>
                <td>{{ contenu_depot.id }}</td>
                <td>{{ contenu_depot.title }}</td>
                <td>{{ contenu_depot.description }}</td>
                <td>{{ contenu_depot.brochureFilename }}</td>
                <td>
                    <a href="{{ path('contenu_depot_edit', {'id':contenu_depot.id,'id1':ID})}}">edit</a>
                    <a href="{{ path('contenu_depot_delete',{'id1':ID,'id2': contenu_depot.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
