{% extends 'base.html.twig' %}

{% block title %}ContenuDepot{% endblock %}

{% block body %}
    <h1>ContenuDepot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contenu_depot.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ contenu_depot.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ contenu_depot.description }}</td>
            </tr>
            <tr>
                <th>BrochureFilename</th>
                <td>{{ contenu_depot.brochureFilename }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contenu_depot_index') }}">back to list</a>

    <a href="{{ path('contenu_depot_edit', {'id': contenu_depot.id}) }}">edit</a>

    {{ include('contenu_depot/_delete_form.html.twig') }}
{% endblock %}
